CONFIG_MAIN_STACK_SIZE=2048
CONFIG_HEAP_MEM_POOL_SIZE=25000

CONFIG_SENSOR=y

CONFIG_PM=y
CONFIG_PM_DEVICE=y
CONFIG_PM_DEVICE_RUNTIME=y

CONFIG_DISPLAY=y

CONFIG_INPUT=y

CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED=y

CONFIG_NVS=y

CONFIG_RETAINED_MEM=y
CONFIG_RETENTION=y
CONFIG_RETENTION_BOOT_MODE=y
CONFIG_RETENTION_MUTEX_FORCE_DISABLE=y
CONFIG_RETAINED_MEM_MUTEX_FORCE_DISABLE=y
CONFIG_RETENTION_BUFFER_SIZE=256

# Flash
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_STREAM_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_FLASH_MAP_LABELS=y

CONFIG_NRF_FUEL_GAUGE=y
CONFIG_MFD_NPM1300_INIT_PRIORITY=51
CONFIG_REGULATOR_NPM1300_COMMON_INIT_PRIORITY=52
CONFIG_REGULATOR_NPM1300_INIT_PRIORITY=53

# TODO: Clean up
#CONFIG_MCUMGR_GRP_SHELL=y
#CONFIG_MCUMGR_TRANSPORT_UART=y
#CONFIG_MCUMGR_TRANSPORT_WORKQUEUE_STACK_SIZE=8096
#CONFIG_SHELL=y
#CONFIG_SHELL_STACK_SIZE=4096
#CONFIG_SHELL_BACKEND_SERIAL=y
#CONFIG_MCUMGR_TRANSPORT_SHELL=y

# mcumgr-cli application doesn't accepts log in the channel it uses
#CONFIG_SHELL_LOG_BACKEND=n

#CONFIG_CONSOLE=y
#CONFIG_UART_CONSOLE=y
#CONFIG_UART_CONSOLE_MCUMGR=y
#CONFIG_SHELL_BACKEND_DUMMY=y

CONFIG_NORDIC_QSPI_NOR=y
CONFIG_NORDIC_QSPI_NOR_XIP=y
CONFIG_NORDIC_QSPI_NOR_FLASH_LAYOUT_PAGE_SIZE=4096
CONFIG_NORDIC_QSPI_NOR_INIT_PRIORITY=1

# RTC (RV-8263-C8) configuration
CONFIG_RTC=y
CONFIG_RTC_UPDATE=n
CONFIG_RTC_ALARM=y

# APDS9306 (Light sensor) configuration
CONFIG_APDS9306=y

# LIS2MDL (Magnetometer) configuration
CONFIG_LIS2MDL=y
CONFIG_LIS2MDL_MAG_ODR_RUNTIME=y
CONFIG_LIS2MDL_TRIGGER_OWN_THREAD=y

# CST816S (Touch Controller) configuration
CONFIG_INPUT_CST816S_INTERRUPT=y
CONFIG_INPUT_CST816S=n
